:root {
  --white-text: rgba(255, 255, 255, 1);
  --blue-text: rgba(33, 150, 243, 1);
  --black-text: rgba(33, 33, 33, 1);
  --grey-text: rgba(117, 117, 117, 1);
  --grey-text-op60: rgba(255, 255, 255, 0.6);
  --back-header: rgba(229, 229, 229, 1);
  --back-zakaz: rgba(47, 48, 58, 1);
  --back-usluga: rgba(33, 150, 243, 1);
  --back-comanda-prod: rgba(245, 244, 250, 1);
}

*,
::after,
::before {
  box-sizing: border-box;
}

header,
section,
footer {
  border: 1px solid blue;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid tomato;
}

.header {
  background: var(--white-text);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 25px;
  padding-bottom: 24px; */
}

.hero {
  background: var(--back-zakaz);
  max-width: 1600px;
  color: var(--white-text);
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 200px;
  padding-bottom: 200px; */
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* padding-bottom: 40px; */
}

.hero-btn {
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  background: var(--back-usluga);
  color: var(--white-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.nav-logo {
  color: var(--black-text);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: center;
}

.text-black {
  color: var(--blue-text);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: center;
}

.nav {
  text-decoration: none;
  color: var(--black-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav li {
  /* margin-right: 50px; */
}

.nav-nav li:first-child {
  /* margin-right: 50px; */
}

.nav-item,
.contacts-list {
  display: flex;
}

.nav-item:hover,
.nav-item:focus {
  color: var(--blue-text);
}

.contacts-list {
  text-decoration: none;
  color: var(--grey-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

/* .nav-nav-p {
  text-decoration: none;
  color: var(--grey-text-op60);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
} */

.nav-nav-p1 {
  padding-top: 9px;
}

.nav-nav:hover,
.nav-nav:focus {
  color: var(--blue-text);
}

.about {
  display: flex;
  /* padding-top: 95px; */
  justify-content: space-between;
}

.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.about-text {
  font-weight: 400;
  color: var(--grey-text);
  font-size: 14px;
  line-height: 1.7;
  width: 250px;
}

.doing-list {
  display: flex;
  justify-content: space-between;
}

.doing {
  /* padding-top: 94px; */
}

.team-text{
  font-weight: 400;
  color: var(--grey-text);
  font-size: 16px;
  line-height: 1.18;
}

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team {
  background: var(--back-comanda-prod);
  /* padding: 94px 0; */
}

.team-title-worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* padding-top: 30px;
  padding-bottom: 10px; */
}

.team-list {
  margin: 0;
  padding: 0;
  background: var(--white-text);
}

.footer {
  background: var(--back-zakaz);
  /* padding-top: 60px;
  padding-bottom: 60px; */
}

.footer-adress {
  color: var(--white-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* margin: 0px;
  padding-top: 20px; */
}

/* .button-p {
  color: var(--black-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
} */

/* .zagolovok-3-p {
  font-weight: 700;
  color: var(--black-text);
  font-size: 18px;
  line-height: 2;
} */

/* .text-3-p {
  font-weight: 400;
  color: var(--grey-text);
  font-size: 16px;
  line-height: 1.87;
} */
