:root {
  --white-text: rgba(255, 255, 255, 1);
  --blue-text: rgba(33, 150, 243, 1);
  --black-text: rgba(33, 33, 33, 1);
  --grey-text: rgba(117, 117, 117, 1);
  --grey-text-op60: rgba(255, 255, 255, 0.6);
  --back-header: rgba(229, 229, 229, 1);
  --back-zakaz: rgba(47, 48, 58, 1);
  --back-usluga: rgba(33, 150, 243, 1);
  --back-comanda-prod: rgba(245, 244, 250, 1);
}

header,
section,
footer {
  border: 1px solid;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid tomato;
}

.header {
  background: var(--white-text);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 24px;
}

.zakaz {
  background: var(--back-zakaz);
  max-width: 1600px;
  color: var(--white-text);
  text-decoration: none;
  padding-top: 200px;
  padding-bottom: 280px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.zakaz-1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  padding-bottom: 40px;
}

.usluga {
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  background: var(--back-usluga);
  color: var(--white-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.logo {
  color: var(--black-text);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: center;
}

.logo3 {
  color: var(--white-text);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: center;
}

.logo1 {
  color: var(--blue-text);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: center;
}

.nav {
  text-decoration: none;
  color: var(--black-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav li {
  margin-right: 50px;
}

.nav-nav li:first-child {
  margin-right: 50px;
}

.nav,
.nav-nav {
  display: flex;
}

.nav:hover,
.nav:focus {
  color: var(--blue-text);
}

.nav-nav {
  text-decoration: none;
  color: var(--grey-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav-nav-p {
  text-decoration: none;
  color: var(--grey-text-op60);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav-nav:hover,
.nav-nav:focus {
  color: var(--blue-text);
}

.detali {
  display: flex;
  padding-top: 95px;
  justify-content: space-between;
}

.chem-zanim {
  padding-top: 94px;
}

.zagolovok-3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.text-3 {
  font-weight: 400;
  color: var(--grey-text);
  font-size: 14px;
  line-height: 1.7;
  width: 250px;
}

.pictures {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.text-4 {
  font-weight: 400;
  color: var(--grey-text);
  font-size: 16px;
  line-height: 1.18;
}

.zagolovok-2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.nasha-comanda {
  /* padding-top: 188px; */
  background: var(--back-comanda-prod);
}

.comanda-prod {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.comanda {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  padding-top: 30px;
  padding-bottom: 10px;
}

.footer {
  background: var(--back-zakaz);
}

.adress {
  color: var(--white-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.button-p {
  color: var(--black-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}

.zagolovok-3-p {
  font-weight: 700;
  color: var(--black-text);
  font-size: 18px;
  line-height: 2;
}

.text-3-p {
  font-weight: 400;
  color: var(--grey-text);
  font-size: 16px;
  line-height: 1.87;
}
